<div id="notificationpopup-modal" tabindex="-1" class="px-4 hidden scrollbar overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="w-full max-w-[550px] max-h-full relative bg-white rounded shadow-btn py-5">
    <div class="max-w-[474px] px-3 mx-auto w-full">
      <div class="flex justify-between items-center gap-2 !mb-4 md:!mb-8">
        <h2 class="text-xl font-medium text-black">Send in-app notifications</h2>
        <button type="button" class="bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1" data-modal-hide="notificationpopup-modal">
          <%= image_tag '/assets/svg/close.svg', alt: '', class: 'size-6' %>
        </button>
      </div>
      <label for="message" class="text-sm font-medium text-primary mb-1.5 block">Message</label>
      <textarea name="message" id="message" placeholder="Enter your text" class="placholder:text-sm placeholder:text-secondary min-h-[90px] w-full border border-gray-2 rounded resize-none px-3 py-2 focus:ring-0 block !mb-4 md:!mb-8"></textarea>
      <button
        id="sendNotificationButton"
        type="button"
        class="ml-auto block w-fit text-xs/[18px] font-normal py-2 px-8 text-white text-center !bg-primary rounded hover:opacity-80 transition-all"
        data-modal-hide="notificationpopup-modal"
        data-controller="notification" data-action="click->notification#sendNotification">
        Send a message
      </button>
    </div>
  </div>
</div>
